.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}
.centerx1 {
	margin: auto;
	width: 50%;

	padding: 10px;
	border-collapse: separate;
  border-spacing: 15px 50px;
}

		body{
			background: #DCDCDC
		}
